*{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.nav{
    background-color: rgb(67, 60, 60);
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    /* background-color: yellow; */
    font-size:x-large;
    flex:3;
    padding-left: 30px;
    font-weight:lighter;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    /* background-color: rgb(166, 26, 124); */
    height: 40px;
    padding-right: 30px;
    font-size: small;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.active{
    font-weight: bold;
}

.btn{
    background-color: rgb(79, 196, 196);
    color: white;
    box-shadow: 2px 2px 1px 1px black;
    width: 70px;
    height: 25px;
}